In [316]:
import pandas as pd

# Import la.data.64.County and la.area

The Local Area Unemployment Statistics (LAUS) program produces monthly estimates for Census regions and divisions, states (plus DC and Puerto Rico), metropolitan and micropolitan statistical areas, all counties, and cities with a population of 25,000 or more. You can access these estimates using the database tools at https://www.bls.gov/lau/data.htm. 

See https://download.bls.gov/pub/time.series/la/

To connect the county names, you can connect the series_id field in the county file with the same field in the “la.series” file, then use the area_code field in that file to connect to the “la.area” file, which contains the area names in the area_text field. Alternatively, since the area code is embedded within the series_id, you can remove the “LAU” from the front of the series id and the last two digits (03, 04, 05, or 06) from the end (giving you, for example, CN0100100000000). You can then directly connect that resulting area code to the area_code field in the “la.area” file. 

Month 13 (M13) is the annual average. M01 through M12 are January-December, as you would expect.

The last two digits are the measure codes:

03 – unemployment rate

04 – unemployment (level)

05 – employment

06 – labor force

In [317]:
url_1 = 'https://download.bls.gov/pub/time.series/la/la.area'
url_2 = 'https://download.bls.gov/pub/time.series/la/la.data.64.County'

In [318]:
la_area = pd.read_csv(url_1, sep='\t', dtype=None)

In [319]:
la_data_64_County = pd.read_csv(url_2, sep='\t', dtype=str)
la_data_64_County.columns = ['series_id', 'year', 'period', 'value', 'footnote_codes']

In [401]:
account_locations = pd.read_csv('account-locations-identified.csv')

#replace country_short="US" if location=="New York"
#keep if country_short=="US" /* 10,335 */
account_locations = account_locations[account_locations['country_short'] == 'US']
account_locations.loc[account_locations['LOCATION'] == "New York", 'country_short'] = 'US'

#rename administrative_area_level_2_long county_name
#rename administrative_area_level_1_shor state

account_locations.rename(columns={'administrative_area_level_2_long':'county_name',
                          'administrative_area_level_1_short':'state'}, 
                 inplace=True)
account_locations

,Unnamed: 0,LOCATION,N,latitude,longitude,country_long,country_short,locality_long,locality_short,administrative_area_level_1_long,state,county_name,administrative_area_level_2_short
12,12,New York,29836,40.712775,-74.005973,United States,US,New York,New York,New York,NY,NaN,NaN
20,20,Los Angeles,26607,34.052234,-118.243685,United States,US,Los Angeles,Los Angeles,California,CA,Los Angeles County,Los Angeles County
21,21,"Los Angeles, CA",25310,34.052234,-118.243685,United States,US,Los Angeles,Los Angeles,California,CA,Los Angeles County,Los Angeles County
24,24,Chicago,23006,41.878114,-87.629798,United States,US,Chicago,Chicago,Illinois,IL,Cook County,Cook County
26,26,"New York, NY",20837,40.712775,-74.005973,United States,US,New York,New York,New York,NY,NaN,NaN
33,33,"Chicago, IL",19317,41.878114,-87.629798,United States,US,Chicago,Chicago,Illinois,IL,Cook County,Cook County
37,37,California,18076,36.778261,-119.417932,United States,US,NaN,NaN,California,CA,NaN,NaN
41,41,Texas,17442,31.968599,-99.901813,United States,US,NaN,NaN,Texas,TX,NaN,NaN
44,44,USA,16230,37.090240,-95.712891,United States,US,NaN,NaN,NaN,NaN,NaN,NaN
47,47,NYC,15330,40.712775,-74.005973,United States,US,New York,New York,New York,NY,NaN,NaN
52,52,New York City,14560,40.712775,-74.005973,United States,US,New York,New York,New York,NY,NaN,NaN
54,54,"Atlanta, GA",13845,33.748995,-84.387982,United States,US,Atlanta,Atlanta,Georgia,GA,Fulton County,Fulton County
58,58,Florida,12600,27.664827,-81.515754,United States,US,NaN,NaN,Florida,FL,NaN,NaN
59,59,"Washington, DC",12577,38.907192,-77.036871,United States,US,Washington,Washington,District of Columbia,DC,District of Columbia,District of Columbia
61,61,"Boston, MA",12389,42.360082,-71.058880,United States,US,Boston,Boston,Massachusetts,MA,Suffolk County,Suffolk County
64,64,San Francisco,12071,37.774929,-122.419415,United States,US,San Francisco,SF,California,CA,San Francisco County,San Francisco County
67,67,New Jersey,12004,40.058324,-74.405661,United States,US,NaN,NaN,New Jersey,NJ,NaN,NaN
71,71,"San Francisco, CA",11573,37.774929,-122.419415,United States,US,San Francisco,SF,California,CA,San Francisco County,San Francisco County
80,80,"Austin, TX",10670,30.267153,-97.743061,United States,US,Austin,Austin,Texas,TX,Travis County,Travis County
82,82,United States,10645,37.090240,-95.712891,United States,US,NaN,NaN,NaN,NaN,NaN,NaN
89,89,"Houston, TX",10088,29.760427,-95.369803,United States,US,Houston,Houston,Texas,TX,Harris County,Harris County
95,95,"Seattle, WA",9790,47.606209,-122.332071,United States,US,Seattle,Seattle,Washington,WA,King County,King County
102,102,"Brooklyn, NY",9332,40.678178,-73.944158,United States,US,NaN,NaN,New York,NY,Kings County,Kings County
106,106,Michigan,9120,44.314844,-85.602364,United States,US,NaN,NaN,Michigan,MI,NaN,NaN
112,112,"Dallas, TX",8899,32.776664,-96.796988,United States,US,Dallas,Dallas,Texas,TX,Dallas County,Dallas County
119,119,Ohio,8517,40.417287,-82.907123,United States,US,NaN,NaN,Ohio,OH,NaN,NaN
121,121,"Nashville, TN",8488,36.162664,-86.781602,United States,US,Nashville,Nashville,Tennessee,TN,Davidson County,Davidson County
123,123,Boston,8470,42.360082,-71.058880,United States,US,Boston,Boston,Massachusetts,MA,Suffolk County,Suffolk County
124,124,"San Diego, CA",8446,32.715738,-117.161084,United States,US,San Diego,San Diego,California,CA,San Diego County,San Diego County
135,135,"Philadelphia, PA",7959,39.952584,-75.165222,United States,US,Philadelphia,Philadelphia,Pennsylvania,PA,Philadelphia County,Philadelphia County
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39657,39657,"Las Vegas, NV USA",25,36.169941,-115.139830,United States,US,Las Vegas,Las Vegas,Nevada,NV,Clark County,Clark County
39658,39658,"San Marcos, TX",25,29.883275,-97.941394,United States,US,San Marcos,San Marcos,Texas,TX,Hays County,Hays County
39664,39664,"Las vegas, NV",25,36.169941,-115.139830,United States,US,Las Vegas,Las Vegas,Nevada,NV,Clark County,Clark County
39665,39665,"Gainesville,Fl",25,29.651634,-82.324826,United States,US,Gainesville,Gainesville,Florida,FL,Alachua County,Alachua County
39667,39667,New York\n,25,40.712775,-74.005973,United States,US,New York,New York,New York,NY,NaN,NaN
39671,39671,Hattiesburg MS,25,31.327119,-89.290339,United States,US,Hattiesburg,Hattiesburg,Mississippi,MS,Forrest County,Forrest County
39673,39673,"Logan, Ohio",25,39.540067,-82.407099,United States,US,Logan,Logan,Ohio,OH,Hocking County,Hocking County
39680,39680,"St. Simons Island, GA",25,31.159591,-81.388552,United States,US,St. Simons,St Simons,Georgia,GA,Glynn County,Glynn County
39681,39681,"Encinitas, California",25,33.036987,-117.291982,United States,US,Encinitas,Encinitas,California,CA,San Diego County,San Diego County
39683,39683,"Georgetown, SC",25,33.376834,-79.294496,United States,US,Georgetown,Georgetown,South Carolina,SC,Georgetown County,Georgetown County
39689,39689,"Portland, Or.",25,45.515459,-122.679346,United States,US,Portland,Portland,Oregon,OR,Multnomah County,Multnomah County
39692,39692,"Dekalb, Illinois",25,41.929474,-88.750365,United States,US,DeKalb,DeKalb,Illinois,IL,DeKalb County,Dekalb County
39696,39696,"Gainesville, Fla.",25,29.651634,-82.324826,United States,US,Gainesville,Gainesville,Florida,FL,Alachua County,Alachua County
39701,39701,el paso,25,31.761878,-106.485022,United States,US,El Paso,El Paso,Texas,TX,El Paso County,El Paso County
39706,39706,"St.Petersburg, Florida",25,27.767601,-82.640292,United States,US,St. Petersburg,St. Petersburg,Florida,FL,Pinellas County,Pinellas County
39708,39708,Illinois.,25,40.633125,-89.398528,United States,US,NaN,NaN,Illinois,IL,NaN,NaN
39709,39709,"Yelm, WA",25,46.942043,-122.605958,United States,US,Yelm,Yelm,Washington,WA,Thurston County,Thurston County
39715,39715,"Valdosta,Ga",25,30.832702,-83.278485,United States,US,Valdosta,Valdosta,Georgia,GA,Lowndes County,Lowndes County
39716,39716,"Taylorsville, UT",25,40.667725,-111.938826,United States,US,Taylorsville,Taylorsville,Utah,UT,Salt Lake County,Salt Lake County
39720,39720,"Knoxville, IA",25,41.320343,-93.099670,United States,US,Knoxville,Knoxville,Iowa,IA,Marion County,Marion County
39722,39722,"East Northport, NY",25,40.876765,-73.324561,United States,US,East Northport,East Northport,New York,NY,Suffolk County,Suffolk County
39724,39724,"Canby, OR",25,45.262205,-122.692156,United States,US,Canby,Canby,Oregon,OR,Clackamas County,Clackamas County
39725,39725,La Crosse WI,25,43.813775,-91.251902,United States,US,La Crosse,La Crosse,Wisconsin,WI,La Crosse County,La Crosse County
39732,39732,Dothan,25,31.223231,-85.390489,United States,US,Dothan,Dothan,Alabama,AL,Houston County,Houston County
39739,39739,Gainesville,25,29.651634,-82.324826,United States,US,Gainesville,Gainesville,Florida,FL,Alachua County,Alachua County
39743,39743,hillsboro,25,45.520011,-122.936583,United States,US,Hillsboro,Hillsboro,Oregon,OR,Washington County,Washington County
39745,39745,"Smyrna, Georgia",25,33.883993,-84.514376,United States,US,Smyrna,Smyrna,Georgia,GA,Cobb County,Cobb County
39752,39752,"Galveston, Tx",25,29.301348,-94.797696,United States,US,Galveston,Galveston,Texas,TX,Galveston County,Galveston County
39760,39760,"Oskaloosa, Iowa",25,41.291673,-92.649360,United States,US,Oskaloosa,Oskaloosa,Iowa,IA,Mahaska County,Mahaska County
39764,39764,"West Memphis, AR",25,35.146480,-90.184539,United States,US,West Memphis,West Memphis,Arkansas,AR,Crittenden County,Crittenden County

In [320]:
la_data_64_County.head()

                        series_id  year period         value footnote_codes
0  LAUCN010010000000003            1990    M01           6.4            NaN
1  LAUCN010010000000003            1990    M02           6.6            NaN
2  LAUCN010010000000003            1990    M03           5.8            NaN
3  LAUCN010010000000003            1990    M04           6.6            NaN
4  LAUCN010010000000003            1990    M05           6.0            NaN

In [321]:
la_area.head()

,area_type_code,area_code,area_text,display_level,selectable,sort_sequence
0,A,ST0100000000000,Alabama,0,T,1
1,A,ST0200000000000,Alaska,0,T,146
2,A,ST0400000000000,Arizona,0,T,188
3,A,ST0500000000000,Arkansas,0,T,252
4,A,ST0600000000000,California,0,T,378

In [322]:
la_area.dtypes

area_type_code    object
area_code         object
area_text         object
display_level      int64
selectable        object
sort_sequence      int64
dtype: object

In [323]:
la_data_64_County.dtypes

series_id         object
year              object
period            object
value             object
footnote_codes    object
dtype: object

In [324]:
la_data_64_County['year']= la_data_64_County['year'].astype(int) 
la_data_64_County['value']= la_data_64_County['value'].astype(str)

In [325]:
la_area.shape

(8290, 6)

In [326]:
la_data_64_County.shape

(4929220, 5)

In [327]:
la_area.describe()

       display_level  sort_sequence
count         8290.0    8290.000000
mean             0.0    4145.500000
std              0.0    2393.261199
min              0.0       1.000000
25%              0.0    2073.250000
50%              0.0    4145.500000
75%              0.0    6217.750000
max              0.0    8290.000000

In [328]:
la_data_64_County.describe()

               year
count  4.929220e+06
mean   2.004238e+03
std    8.507420e+00
min    1.990000e+03
25%    1.997000e+03
50%    2.004000e+03
75%    2.012000e+03
max    2.019000e+03

In [329]:
# Create new variables
# Keep 15 characters: CN190 25000 00000
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.slice.html 
la_data_64_County['area_code'] = la_data_64_County['series_id'].str[3:18]
la_data_64_County['series'] = la_data_64_County['series_id'].str[19:].astype(int)
la_data_64_County['month'] = la_data_64_County['period'].str[1:].astype(int)

In [330]:
# Remove month 13
# Keep unemployment rate only
la_data_64_County

,series_id,year,period,value,footnote_codes,area_code,series,month
0,LAUCN010010000000003,1990,M01,6.4,NaN,CN0100100000000,3,1
1,LAUCN010010000000003,1990,M02,6.6,NaN,CN0100100000000,3,2
2,LAUCN010010000000003,1990,M03,5.8,NaN,CN0100100000000,3,3
3,LAUCN010010000000003,1990,M04,6.6,NaN,CN0100100000000,3,4
4,LAUCN010010000000003,1990,M05,6.0,NaN,CN0100100000000,3,5
5,LAUCN010010000000003,1990,M06,7.0,NaN,CN0100100000000,3,6
6,LAUCN010010000000003,1990,M07,6.0,NaN,CN0100100000000,3,7
7,LAUCN010010000000003,1990,M08,6.7,NaN,CN0100100000000,3,8
8,LAUCN010010000000003,1990,M09,7.2,NaN,CN0100100000000,3,9
9,LAUCN010010000000003,1990,M10,7.1,NaN,CN0100100000000,3,10
10,LAUCN010010000000003,1990,M11,6.2,NaN,CN0100100000000,3,11
11,LAUCN010010000000003,1990,M12,6.2,NaN,CN0100100000000,3,12
12,LAUCN010010000000003,1990,M13,6.5,NaN,CN0100100000000,3,13
13,LAUCN010010000000003,1991,M01,6.7,NaN,CN0100100000000,3,1
14,LAUCN010010000000003,1991,M02,7.8,NaN,CN0100100000000,3,2
15,LAUCN010010000000003,1991,M03,7.3,NaN,CN0100100000000,3,3
16,LAUCN010010000000003,1991,M04,6.8,NaN,CN0100100000000,3,4
17,LAUCN010010000000003,1991,M05,6.7,NaN,CN0100100000000,3,5
18,LAUCN010010000000003,1991,M06,7.8,NaN,CN0100100000000,3,6
19,LAUCN010010000000003,1991,M07,6.8,NaN,CN0100100000000,3,7
20,LAUCN010010000000003,1991,M08,7.0,NaN,CN0100100000000,3,8
21,LAUCN010010000000003,1991,M09,6.7,NaN,CN0100100000000,3,9
22,LAUCN010010000000003,1991,M10,6.0,NaN,CN0100100000000,3,10
23,LAUCN010010000000003,1991,M11,5.8,NaN,CN0100100000000,3,11
24,LAUCN010010000000003,1991,M12,6.1,NaN,CN0100100000000,3,12
25,LAUCN010010000000003,1991,M13,6.8,NaN,CN0100100000000,3,13
26,LAUCN010010000000003,1992,M01,6.9,NaN,CN0100100000000,3,1
27,LAUCN010010000000003,1992,M02,7.0,NaN,CN0100100000000,3,2
28,LAUCN010010000000003,1992,M03,6.4,NaN,CN0100100000000,3,3
29,LAUCN010010000000003,1992,M04,5.7,NaN,CN0100100000000,3,4
...,...,...,...,...,...,...,...,...
4929190,LAUCN721530000000006,2017,M03,10541,R,CN7215300000000,6,3
4929191,LAUCN721530000000006,2017,M04,10383,R,CN7215300000000,6,4
4929192,LAUCN721530000000006,2017,M05,10195,R,CN7215300000000,6,5
4929193,LAUCN721530000000006,2017,M06,9809,R,CN7215300000000,6,6
4929194,LAUCN721530000000006,2017,M07,9902,R,CN7215300000000,6,7
4929195,LAUCN721530000000006,2017,M08,9983,R,CN7215300000000,6,8
4929196,LAUCN721530000000006,2017,M09,9786,Y,CN7215300000000,6,9
4929197,LAUCN721530000000006,2017,M10,9710,R,CN7215300000000,6,10
4929198,LAUCN721530000000006,2017,M11,10036,R,CN7215300000000,6,11
4929199,LAUCN721530000000006,2017,M12,10124,R,CN7215300000000,6,12
4929200,LAUCN721530000000006,2017,M13,10156,R,CN7215300000000,6,13
4929201,LAUCN721530000000006,2018,M01,10139,R,CN7215300000000,6,1
4929202,LAUCN721530000000006,2018,M02,9915,R,CN7215300000000,6,2
4929203,LAUCN721530000000006,2018,M03,9982,R,CN7215300000000,6,3
4929204,LAUCN721530000000006,2018,M04,9726,R,CN7215300000000,6,4
4929205,LAUCN721530000000006,2018,M05,9858,R,CN7215300000000,6,5
4929206,LAUCN721530000000006,2018,M06,9929,R,CN7215300000000,6,6
4929207,LAUCN721530000000006,2018,M07,9914,R,CN7215300000000,6,7
4929208,LAUCN721530000000006,2018,M08,9644,R,CN7215300000000,6,8
4929209,LAUCN721530000000006,2018,M09,9609,R,CN7215300000000,6,9
4929210,LAUCN721530000000006,2018,M10,9402,R,CN7215300000000,6,10
4929211,LAUCN721530000000006,2018,M11,9353,R,CN7215300000000,6,11
4929212,LAUCN721530000000006,2018,M12,9761,R,CN7215300000000,6,12
4929213,LAUCN721530000000006,2018,M13,9770,R,CN7215300000000,6,13
4929214,LAUCN721530000000006,2019,M01,9604,NaN,CN7215300000000,6,1
4929215,LAUCN721530000000006,2019,M02,9754,NaN,CN7215300000000,6,2
4929216,LAUCN721530000000006,2019,M03,9693,NaN,CN7215300000000,6,3
4929217,LAUCN721530000000006,2019,M04,9573,NaN,CN7215300000000,6,4
4929218,LAUCN721530000000006,2019,M05,9637,NaN,CN7215300000000,6,5
4929219,LAUCN721530000000006,2019,M06,9812,P,CN7215300000000,6,6

In [331]:
is_unemployment = la_data_64_County['series'] == 3
is_unemployment.value_counts()

False    3696915
True     1232305
Name: series, dtype: int64

In [332]:
is_month = la_data_64_County['month'] != 13
is_month.value_counts()

True     4555992
False     373228
Name: month, dtype: int64

In [333]:
la_data_64_County = la_data_64_County[is_unemployment & is_month]
la_data_64_County.describe()

               year     series         month
count  1.138998e+06  1138998.0  1.138998e+06
mean   2.004257e+03        3.0  6.449129e+00
std    8.518552e+00        0.0  3.451679e+00
min    1.990000e+03        3.0  1.000000e+00
25%    1.997000e+03        3.0  3.000000e+00
50%    2.004000e+03        3.0  6.000000e+00
75%    2.012000e+03        3.0  9.000000e+00
max    2.019000e+03        3.0  1.200000e+01

In [334]:
# remove how='outer'
counties_03 = pd.merge(la_data_64_County,la_area,on='area_code',indicator=True)

In [335]:
counties_03.shape

(1138998, 14)

In [336]:
# LAUCN010010000000003
counties_03['_merge'].value_counts()

both          1138998
right_only          0
left_only           0
Name: _merge, dtype: int64

In [337]:
counties_03['series'].value_counts()

3    1138998
Name: series, dtype: int64

In [376]:
#data["Team"].str.split("t", n = 1, expand = True) 
counties_03['county_name'] = counties_03['area_text'].str.split(', ', n = 1, expand = True)[0].astype(str)
counties_03['state'] = counties_03['area_text'].str.split(', ', n = 1, expand = True)[1].astype(str)

In [377]:
counties_03['county_name'] = counties_03['county_name'].str.split(' Borough', n = 1, expand = True)[0]

In [378]:
counties_03.dtypes

series_id           object
year                 int64
period              object
value               object
footnote_codes      object
area_code           object
series               int64
month                int64
area_type_code      object
area_text           object
display_level        int64
selectable          object
sort_sequence        int64
_merge            category
county_name         object
state               object
state2              object
dtype: object

In [385]:
#replace state="DC" if county_name=="District of Columbia"
#replace county_name="DoÃ±a Ana County" if county_name=="Dona Ana County"
counties_03.loc[counties_03['county_name'] == "District of Columbia", 'state'] = 'DC'
counties_03.loc[counties_03['county_name'] == "Dona Ana County", 'county_name'] = 'DoÃ±a Ana County'

In [386]:
counties_03

,series_id,year,period,value,footnote_codes,area_code,series,month,area_type_code,area_text,display_level,selectable,sort_sequence,_merge,county_name,state,state2
0,LAUCN010010000000003,1990,M01,6.4,NaN,CN0100100000000,3,1,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
1,LAUCN010010000000003,1990,M02,6.6,NaN,CN0100100000000,3,2,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
2,LAUCN010010000000003,1990,M03,5.8,NaN,CN0100100000000,3,3,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
3,LAUCN010010000000003,1990,M04,6.6,NaN,CN0100100000000,3,4,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
4,LAUCN010010000000003,1990,M05,6.0,NaN,CN0100100000000,3,5,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
5,LAUCN010010000000003,1990,M06,7.0,NaN,CN0100100000000,3,6,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
6,LAUCN010010000000003,1990,M07,6.0,NaN,CN0100100000000,3,7,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
7,LAUCN010010000000003,1990,M08,6.7,NaN,CN0100100000000,3,8,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
8,LAUCN010010000000003,1990,M09,7.2,NaN,CN0100100000000,3,9,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
9,LAUCN010010000000003,1990,M10,7.1,NaN,CN0100100000000,3,10,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
10,LAUCN010010000000003,1990,M11,6.2,NaN,CN0100100000000,3,11,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
11,LAUCN010010000000003,1990,M12,6.2,NaN,CN0100100000000,3,12,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
12,LAUCN010010000000003,1991,M01,6.7,NaN,CN0100100000000,3,1,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
13,LAUCN010010000000003,1991,M02,7.8,NaN,CN0100100000000,3,2,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
14,LAUCN010010000000003,1991,M03,7.3,NaN,CN0100100000000,3,3,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
15,LAUCN010010000000003,1991,M04,6.8,NaN,CN0100100000000,3,4,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
16,LAUCN010010000000003,1991,M05,6.7,NaN,CN0100100000000,3,5,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
17,LAUCN010010000000003,1991,M06,7.8,NaN,CN0100100000000,3,6,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
18,LAUCN010010000000003,1991,M07,6.8,NaN,CN0100100000000,3,7,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
19,LAUCN010010000000003,1991,M08,7.0,NaN,CN0100100000000,3,8,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
20,LAUCN010010000000003,1991,M09,6.7,NaN,CN0100100000000,3,9,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
21,LAUCN010010000000003,1991,M10,6.0,NaN,CN0100100000000,3,10,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
22,LAUCN010010000000003,1991,M11,5.8,NaN,CN0100100000000,3,11,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
23,LAUCN010010000000003,1991,M12,6.1,NaN,CN0100100000000,3,12,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
24,LAUCN010010000000003,1992,M01,6.9,NaN,CN0100100000000,3,1,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
25,LAUCN010010000000003,1992,M02,7.0,NaN,CN0100100000000,3,2,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
26,LAUCN010010000000003,1992,M03,6.4,NaN,CN0100100000000,3,3,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
27,LAUCN010010000000003,1992,M04,5.7,NaN,CN0100100000000,3,4,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
28,LAUCN010010000000003,1992,M05,6.1,NaN,CN0100100000000,3,5,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
29,LAUCN010010000000003,1992,M06,7.5,NaN,CN0100100000000,3,6,F,"Autauga County, AL",0,T,31,both,Autauga County,AL,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1138968,LAUCN721530000000003,2017,M01,20.1,R,CN7215300000000,3,1,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138969,LAUCN721530000000003,2017,M02,19.8,R,CN7215300000000,3,2,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138970,LAUCN721530000000003,2017,M03,19.2,R,CN7215300000000,3,3,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138971,LAUCN721530000000003,2017,M04,19.7,R,CN7215300000000,3,4,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138972,LAUCN721530000000003,2017,M05,18.0,R,CN7215300000000,3,5,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138973,LAUCN721530000000003,2017,M06,15.0,R,CN7215300000000,3,6,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138974,LAUCN721530000000003,2017,M07,15.1,R,CN7215300000000,3,7,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138975,LAUCN721530000000003,2017,M08,16.8,R,CN7215300000000,3,8,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138976,LAUCN721530000000003,2017,M09,15.2,Y,CN7215300000000,3,9,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138977,LAUCN721530000000003,2017,M10,16.6,R,CN7215300000000,3,10,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138978,LAUCN721530000000003,2017,M11,15.0,R,CN7215300000000,3,11,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138979,LAUCN721530000000003,2017,M12,15.4,R,CN7215300000000,3,12,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138980,LAUCN721530000000003,2018,M01,17.3,R,CN7215300000000,3,1,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138981,LAUCN721530000000003,2018,M02,16.7,R,CN7215300000000,3,2,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138982,LAUCN721530000000003,2018,M03,16.4,R,CN7215300000000,3,3,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138983,LAUCN721530000000003,2018,M04,15.4,R,CN7215300000000,3,4,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138984,LAUCN721530000000003,2018,M05,15.6,R,CN7215300000000,3,5,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138985,LAUCN721530000000003,2018,M06,15.3,R,CN7215300000000,3,6,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138986,LAUCN721530000000003,2018,M07,14.3,R,CN7215300000000,3,7,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138987,LAUCN721530000000003,2018,M08,13.4,R,CN7215300000000,3,8,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138988,LAUCN721530000000003,2018,M09,13.0,R,CN7215300000000,3,9,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138989,LAUCN721530000000003,2018,M10,12.6,R,CN7215300000000,3,10,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138990,LAUCN721530000000003,2018,M11,12.0,R,CN7215300000000,3,11,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138991,LAUCN721530000000003,2018,M12,14.4,R,CN7215300000000,3,12,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138992,LAUCN721530000000003,2019,M01,14.8,NaN,CN7215300000000,3,1,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138993,LAUCN721530000000003,2019,M02,17.0,NaN,CN7215300000000,3,2,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138994,LAUCN721530000000003,2019,M03,17.4,NaN,CN7215300000000,3,3,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138995,LAUCN721530000000003,2019,M04,14.5,NaN,CN7215300000000,3,4,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138996,LAUCN721530000000003,2019,M05,14.6,NaN,CN7215300000000,3,5,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR
1138997,LAUCN721530000000003,2019,M06,14.8,P,CN7215300000000,3,6,F,"Yauco Municipio, PR",0,T,8277,both,Yauco Municipio,PR,PR

In [340]:
la_area.to_stata('la_area.dta')
la_area.to_csv('la_area.csv')

In [341]:
la_data_64_County.to_stata('la_data_64_County.dta')
la_data_64_County.to_csv('la_data_64_County.csv')

In [387]:
counties_03.to_stata('counties_03.dta')
counties_03.to_csv('counties_03.csv')

In [402]:
unemployment = pd.merge(counties_03,account_locations, on='county_name', indicator=True)

ValueError: Cannot use name of an existing column for indicator column